<nz-layout>
  <nz-sider [nzCollapsedWidth]="0" nzCollapsible [(nzCollapsed)]="leftCollapsed" [nzTrigger]="null" [nzWidth]="250"
    class="left-section" [nzTheme]="'light'">
    <app-layers (selectionChanged)="onSelectionChanged($event)"></app-layers>
    <div style="position: absolute; bottom: 0px; width: 100%;">
      <button nzType="default" nz-button (click)="copyJson()" nzBlock>Copy
        JSON</button>
      <button nzType="primary" nz-button (click)="newBlock()" nzBlock>New
        Block</button>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-layout>
      <nz-header>
        <div style="display: flex;">
          <div style="width: 30px;">
            <i nz-icon [nzType]="leftCollapsed ? 'menu-unfold' : 'menu-fold'"
              (click)="leftCollapsed = !leftCollapsed"></i>
          </div>
          <div style="width: 100%; text-align: center">
            <i nz-icon [ngClass]="{selected: !isMobile}" nzType="laptop" (click)="setDesktop()" nzTheme="outline"></i>
            <i nz-icon [ngClass]="{selected: isMobile}" nzType="mobile" (click)="setMobile()" nzTheme="outline"></i>
          </div>
        </div>
      </nz-header>
      <nz-content>
        <div class="editor-content" [ngClass]="{mobile: isMobile}">
          <app-layers-view (selectionChanged)="onSelectionChanged($event)" [block]="block" *ngFor="let block of Blocks">
          </app-layers-view>
        </div>
      </nz-content>
    </nz-layout>
    <nz-sider [nzWidth]="300" class="right-section" [nzTheme]="'light'">
      <app-block-toolbox *ngIf="selectedBlock?.type.id === 1" [selectedBlock]="selectedBlock"></app-block-toolbox>
      <app-text-toolbox *ngIf="selectedBlock?.type.id === 2" [selectedBlock]="selectedBlock"></app-text-toolbox>
      <app-image-toolbox *ngIf="selectedBlock?.type.id === 3" [selectedBlock]="selectedBlock"></app-image-toolbox>
      <app-icon-toolbox *ngIf="selectedBlock?.type.id === 5" [selectedBlock]="selectedBlock"></app-icon-toolbox>
    </nz-sider>
  </nz-layout>
</nz-layout>
