<nz-layout>
  <nz-sider [nzWidth]="250" class="left-section" [nzTheme]="'light'">
    <app-layers></app-layers>
  </nz-sider>
  <nz-layout>
    <nz-layout>
      <nz-header>
        <i nz-icon [ngClass]="{selected: !isMobile}" nzType="laptop" (click)="setDesktop()" nzTheme="outline"></i>
        <i nz-icon [ngClass]="{selected: isMobile}" nzType="mobile" (click)="setMobile()" nzTheme="outline"></i>
      </nz-header>
      <nz-content>
        <div class="editor-content" [ngClass]="{mobile: isMobile}">
          <app-layers-view [block]="block" *ngFor="let block of Blocks"></app-layers-view>
        </div>
      </nz-content>
    </nz-layout>
    <nz-sider [nzWidth]="300" class="right-section" [nzTheme]="'light'">
      <app-block-toolbox></app-block-toolbox>
    </nz-sider>
  </nz-layout>
</nz-layout>
