// Primary color
$primary-100: #E0E7FD;
$primary-200: #C3CEFB;
$primary-300: #A2B2F5;
$primary-400: #8799EB;
$primary: #6175DE;
$primary-600: #4658BE;
$primary-700: #303E9F;
$primary-800: #1E2980;
$primary-900: #121A6A;

// Neutral color


// Success color
$success-100: #EAFBD6;
$success-200: #D1F8AF;
$success-300: #ADEA83;
$success-400: #87D560;
$success: #56BA32;
$success-600: #3C9F24;
$success-700: #268519;
$success-800: #156B0F;
$success-900: #09590A;

// Info color
$info-100: #CCF1FE;
$info-200: #99DFFE;
$info-300: #66C7FE;
$info-400: #40AEFD;
$info: #0287FC;
$info-600: #0168D8;
$info-700: #014DB5;
$info-800: #003692;
$info-900: #002778;

// Warning color
$warning-100: #FEF7D3;
$warning-200: #FEEEA8;
$warning-300: #FDE27D;
$warning-400: #FBD55C;
$warning: #F9C127;
$warning-600: #D69F1C;
$warning-700: #B37F13;
$warning-800: #90620C;
$warning-900: #774D07;

// Danger color
$danger-100: #FFE7D6;
$danger-200: #FFCAAD;
$danger-300: #FFA683;
$danger-400: #FF8365;
$danger: #FF4A32;
$danger-600: #DB2B24;
$danger-700: #B7191F;
$danger-800: #930F20;
$danger-900: #7A0920;