@import '../../../../styles/colors.scss';

.content {
  cursor: pointer;
  outline: 2px solid #ffffff00;
  transition: all 300ms;
  position: relative;
  margin-top: 1px;

  .bloc-content {
    height: 32px;
    padding: 4px 11px;
  }

  &:hover {
    outline-color: $primary !important;
    outline-width: 2px;
  }

  &.selected {
    outline-color: $primary !important;
    outline-width: 1px;
  }

  p {
    margin-bottom: 0;
  }

}

.global {
  position: relative;

  .selected {
    &.menu {
      top: -23px;
      right: 0;
      background: $danger;
      color: #ffffff;
      position: absolute;
      padding: 0 2px;
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
      transition: all 300ms;
      cursor: pointer;

      &:hover {
        background: $danger-400;
      }
    }
  }
}
