<div class="content">
  <p *ngIf="block.type.id === 2" [ngStyle]="toCssStyle()" (click)="selectBlock(block)">{{block.content}}
  </p>
  <button *ngIf="block.type.id === 4" [ngStyle]="toCssStyle()" nz-button nzType="default"
    (click)="selectBlock(block)">{{block.content}}</button>

  <img (click)="selectBlock(block)" *ngIf="block.type.id === 3" [ngStyle]="toCssStyle()" [src]="block.content">
  <i nz-icon [nzType]="block.content" nzTheme="outline" (click)="selectBlock(block)" *ngIf="block.type.id === 5"
    [ngStyle]="toCssStyle()">
  </i>
  <div (click)="selectBlock(block)" *ngIf="block.type.id === 1" [ngStyle]="toCssStyle()">
    <app-layers-view [block]="block" *ngFor="let block of block.children"></app-layers-view>
  </div>
</div>
