@import '../../../../styles/colors.scss';

.content {
    padding: 2px;
    border: 1px solid #ffffff00;
    cursor: pointer;
    .bloc-content {
        height: 32px;
        padding: 4px 11px;
    }
    &:hover {
        border-color: $primary-400 !important;
    }
}