@import '../../../../styles/colors.scss';

.content {
  padding: 5px;
  font-size: 14px;
  transition: all 300ms;
  cursor: pointer;

  &.selected {
    background: $primary-100;
    border-right: 5px solid $primary-600;
  }
  i {
    font-size: 14px;
    margin-top: 5px;
  }

  p {
    margin-bottom: 0;
  }

  span {
    padding-left: 4px;
  }

  &:hover {
    color: $primary-400;
  }

  position: relative;

  .context-menu {
    width: 150px;
    border: 1px solid $primary-100;
    border-radius: 4px;
    padding: 5px;
    top: 30px;
    right: 50px;
    position: absolute;
    z-index: 1;
    background: #fff;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        color: rgba(0, 0, 0, 0.65);
        padding: 2px 5px;
        transition: all 300ms;

        &:hover {
          color: $primary-400;
        }
        &:nth-last-child(3) {
          border-bottom: 1px solid $primary-100;
        }
        &:last-of-type {
          color: $danger;
          &:hover {
            color: $danger-400 !important;
          }
        }
      }
    }
  }
}

.children {
  margin-left: 20px;
  .child {
    background: #fff;
    z-index: 1;
  }
  &.cdk-drop-list-dragging .child:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
