@import '../../../../styles/colors.scss';

div {
    padding-left: 10px;
}

.content {
    padding: 5px;
    font-size: 14px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    i {
        font-size: 14px;
        margin-top: 5px;
    }
    span {
        padding-left: 4px;
    }
    &:hover {
        color: $primary-400;
    }
}

.children {
    margin-left: 10px;
}