<div>
  <div [ngClass]="{selected: block.selected}" (contextmenu)="onRightClick(block)" (click)="selectBlock(block)" nz-row
    class="content">
    <div nz-col nzSpan="2">
      <i *ngIf="hasChildren" (click)="Toggle()" nz-icon [nzType]="block.open ? 'down' : 'right'"
      nzTheme="outline"></i>
    </div>
    <div nz-col nzSpan="2">
      <i *ngIf="block.type.id === 1" nz-icon nzType="block" nzTheme="outline"></i>
      <i *ngIf="block.type.id === 2" nz-icon nzType="field-string" nzTheme="outline"></i>
      <i *ngIf="block.type.id === 3" nz-icon nzType="picture" nzTheme="outline"></i>
      <i *ngIf="block.type.id === 4" nz-icon nzType="form" nzTheme="outline"></i>
      <i *ngIf="block.type.id === 5" nz-icon nzType="smile" nzTheme="outline"></i>
    </div>
    <span nz-col nzSpan="20" (dblclick)="editStart(block)">
      <p *ngIf="block.editing === false">{{block.name}}</p>
      <nz-input-group nzSize="small" *ngIf="block.editing === true" [nzSuffix]="iconCheck">
        <input type="text" nz-input nzSize="small" [(ngModel)]="block.name" />
      </nz-input-group>
      <ng-template #iconCheck>
        <i nz-icon style="cursor: pointer;" (click)="confirmEdit(block)" nzType="check"></i>
      </ng-template>
    </span>
    <div #contextmenu class="context-menu" [ngStyle]="{display: contextMenuOpen ? 'block' : 'none'}">
      <ul>
        <li *ngIf="block.type.id === 1" (click)="newBlock()"><i nz-icon nzType="block" nzTheme="outline"></i> New Block
        </li>
        <li *ngIf="block.type.id === 1" (click)="newText()"><i nz-icon nzType="field-string" nzTheme="outline"></i> New
          Text</li>
        <li *ngIf="block.type.id === 1" (click)="newPicture()"><i nz-icon nzType="picture" nzTheme="outline"></i> New
          Picture</li>
        <li *ngIf="block.type.id === 1" (click)="newButton()"><i nz-icon nzType="form" nzTheme="outline"></i> New Button
        </li>
        <li *ngIf="block.type.id === 1" (click)="newIcon()"><i nz-icon nzType="smile" nzTheme="outline"></i> New Icon
        </li>
        <li [class]="block.type.id === 1 ? 'duplicate' : ''" *ngIf="!block.isRoot" (click)="duplicateBlock(block)"><i nz-icon nzType="copy" nzTheme="outline"></i> Duplicate</li>
        <li class="delete" *ngIf="!block.isRoot" (click)="deleteBlock(block)"><i nz-icon nzType="delete" nzTheme="outline"></i> Delete</li>
      </ul>
    </div>
  </div>
  <div cdkDropList [id]="block.id.toString()" [cdkDropListConnectedTo]="allIds()" [cdkDropListData]="block.children" (cdkDropListDropped)="drop($event, block)" class="children" *ngIf="block.open">
    <div (cdkDragStarted)="changeDrag($event)" [cdkDragData]="block" class="child" *ngFor="let block of block.children" cdkDrag>
      <app-layer (selectionChanged)="onSelect($event)" [block]="block"></app-layer>
    </div>
  </div>
</div>
